<!DOCTYPE html>
<htnml>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
      <p>Pirate Name: <input type=""</p>
      
      
      
      
      
    </form>
    
    
    
    
    
  </body>
  
  
  
  
  
</htnml>