<!DOCTYPE html>
<htnml>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
      <p>Pirate Name: <input type="text" name="pirate[name]"></p>
      <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
      <p>Pirate Height: <input type="text" name="pirate[height]"></p>
      <p>Ship Name: <input id="ship_name_1" type="text" name="pirate[ship][0][name]"</p>
      
      
      
      
      
    </form>
    
    
    
    
    
  </body>
  
  
  
  
  
</htnml>